<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>x0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1,1},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{103,1},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{205,1},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{307,1},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{409,1},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{511,1},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{613,1},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{715,1},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>AllStars.png</string>
            <key>size</key>
            <string>{816,102}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c0871d7b986bc1e58132b4d012eaab9:86e9dbd11dee5f81a272ab78038875ea:16e063feced254098f59abd7013c7eb2$</string>
            <key>textureFileName</key>
            <string>AllStars.png</string>
        </dict>
    </dict>
</plist>
